<?xml version="1.0"?>

	<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_ackermann" >
		<xacro:macro name="ackermanndrive_plugin">
			<gazebo>
				<plugin name="ackermanndrive_plugin" filename="libsimple_drive_plugin.so">
					<rosDebugLevel>Debug</rosDebugLevel>
					<robotNamespace>ackermann</robotNamespace>
				</plugin>
			</gazebo>
		</xacro:macro>
	</robot>
