<?xml version="1.0"?>

<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="robot_name" default="ackermanndrive" />

  <!-- /home/marc/Workspace/ROS/realsense_ws/src/gazebo_ros_pkgs/gazebo_ros/launch -->
  <include file="$(find tuw_gazebo_models)/launch/empty_world.launch"/>

  <arg name="model" default="$(find realsense_gazebo_plugin)/models/eugen/xacro/simple_ackermann.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-z 1.0 -unpause -urdf -model $(arg robot_name) -param robot_description" respawn="false" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>


   <node pkg="ackermanndrive" name="ackermann_odom_publisher" type="ackermann_iws_model" output="screen">
      <remap from="iws_channel" to="/ackermann/joint_measures"/>
      <remap from="child_frame" to="base_link"/>
   </node>


</launch>


